<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>PayPal Node App</title>
</head>

<body>
  <div>
    <h1>Dragon Wings</h1>
    <h2>Buy For 10€</h2>
    <form action="/checkout/paypal/001" method="post">
      <input type="submit" value="Buy" />
    </form>
  </div>
  <div>
    <h1>Partner Cloak</h1>
    <h2>Buy For 7.50€</h2>
    <form action="/checkout/paypal/002" method="post">
      <input type="submit" value="Buy" />
    </form>
  </div>
</body>

</html>