<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<%= process.env.URL %>/stylesheets/index.css">
    <link rel="shortcut icon" href="https://playdragonfly.net/assets/Dragon.svg" type="image/x-icon">
    <!-- <link rel="stylesheet" href="http://localhost:1550/stylesheets/index.css"> -->
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="https://cdn.icnet.dev/web/drgn/css/header-style.css">
    <title>Dragonfly Store</title>
    <style>
        .shop-item-image {
            height: 230px;
        }
    </style>
</head>

<body>
    <!-- The Modal -->
    <div id="modal-video" class="modal-video">
        <span class="close">&times;</span>
        <div class="modal-content-video">
            <video id="modal-video-preview" autoplay loop>

            </video>
            <div id="caption-video"></div>
        </div>
    </div>


    <div class="page-wrapper">
        <%- include('partials/header') %>

        <div class="card-wrapper">
            <% shopItems.forEach(item => { %>
            <%- include('partials/item', {item: item}); %>
            <% }); %>
        </div>

        <!-- Fontawesome -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
        <script src="/js/index.js"></script>
        <style>
            .shop-item-image:hover {
                background-repeat: no-repeat;
                background-color: #778899;
                background-size: 100%
            }

            .shop-item-image {
                width: 100%;
                height: 230px;
                object-fit: cover;
                background-color: #778899;
                background-position: center;
                background-size: cover;
                transition: .15s cubic-bezier(.445, .05, .55, .95)
            }
        </style>
</body>

</html>