@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* For writing text on either the background or the primary color.*/
  --clr-fg: #efefef;

  /* For the UI background. */
  --clr-bg: #37393a;

  /* Darker accent of the primary color. */
  --clr-pdark: #de4f3f;

  /* The primary blue color. */
  --clr-primary: #ef852e;

  /* Lighter accent of the primary color. */
  --clr-plight: #ffc247;
}

body {
  font-family: Rubik;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  background-color: white !important;
  font-size: 1.3rem !important;
}

h2,
h4 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: var(--clr-bg);
}

/* General text input */
.input-1 {
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
}

.input-1 input {
  padding: 0;
  padding-top: 25px;
  margin-bottom: 4px;
  border: none;
  color: #595f6e;
  font-size: 1.3rem;
  width: 100%;
  outline: 0;
}

.input-1 label {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1.5px solid #595f6e;
}

.input-1 label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 4px solid var(--clr-pdark);
  transform-origin: center;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

.input-1 label .label-text-1 {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
  opacity: 0.5;
  font-size: 20px;
}

.input-1 input:focus+.label-1 .label-text-1,
.input-1 input:valid+.label-1 .label-text-1 {
  transform: translateY(-200%);
  font-size: 14px;
  color: var(--clr-pdark);
  opacity: 1;
}

.input-1 input:focus+.label-1::after,
.input-1 input:valid+.label-1::after {
  transform: scaleX(1);
}

.text-gray {
  color: #525656;
}

.card-wrapper {
    width: 65%;
    margin: 50px auto 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(400px, 1fr) );
}

.checkout-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 10vmin;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transition: 0.3s ease;
}

@keyframes pop {
  0% {
    transform: translateY(500px) scale(0);
    opacity: 0;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

/* Modal Content */
.modal {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 45%;
  animation: pop 0.4s cubic-bezier(0, 0.04, 0.04, 1.4);
  transform: scale(1);
  overflow: auto;
}

.modal-content {
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px 0;
}

.modal-item-description p {
  max-width: 600px;
}

.modal-shop-item-price {
  margin-top: 10px;
  text-align: left !important;
}

.modal-description-payment {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal-email .input-box.input-1 {
  margin-top: 15px;
}

.modal-payment-method {
  display: flex;
  align-items: start;
  height: 100%;
  flex-wrap: wrap;
}

.payment-warning:not(:empty) {
  background: #ffc107;
  padding: 15px 10px;
  font-size: 1rem;
  border-radius: 5px;
  margin-bottom: 30px;
  color: white;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: color 0.2s ease;
}

.close-video {
  position: absolute;
  top: -65px;
  right: -65px;
}

.close:hover,
.close:focus {
  cursor: pointer;
}

#loading {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  display: none;
  z-index: 99;
  justify-content: center;
  align-items: center;
  animation: fade 0.25s ease-out;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.shop-item {
  position: relative;
  width: 370px;
  min-width: 370px;
  min-height: 450px;
  margin: 20px;
  justify-self: center;
  padding-bottom: 25px;
  background: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop-item-colorpicker {
  z-index: 1;
  position: absolute;
  right: -75px;
  top: -75px;
  width: 150px;
  transform-origin: center;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.shop-item-colorpicker:hover {
  transform: rotate(360deg);
}

.shop-item-details {
  margin: 25px 20px 10px 20px;
  color: var(--clr-bg);

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.shop-item-price {
  font-weight: 500;
  font-size: 1.3rem;
  text-align: right;
  color: #37393a;
}

.shop-item-price-old {
  position: absolute;
  top: -20px;
  text-align: right;
  width: 100%;
  color: var(--clr-pdark);
  text-decoration: line-through;
  font-weight: 400;
}

.shop-item-description {
  width: 100%;
  font-size: 1.15rem;
  color: var(--clr-bg);
  padding: 0 20px 20px 20px;
}

.shop-item-name {
  font-weight: 500;
  max-width: 240px;
  overflow-wrap: break-word;
}

.shop-item-description p {
  margin-top: 0px;
}

.btn.btn-modal {
  outline: none;
  position: relative;
  width: calc(100% - 40px);
  padding: 10px 15px;
  margin: 0 20px;

  font-size: 1.25rem;

  text-align: center;
  cursor: pointer;
  color: #fff;

  background: var(--clr-pdark);
  border-radius: 5px;
  border: 2px solid var(--clr-pdark);

  transition: color 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);

  justify-self: flex-end;
  align-self: flex-end;
}

.btn.btn-checkout {
  outline: none;
  position: relative;
  font-size: 1.25rem;
  width: 200px;
  padding: 7px 0;

  background: var(--clr-pdark);
  border-radius: 5px;
  border: 2px solid var(--clr-pdark);
  color: white;
  transition: background 0.2s ease, color 0.2s ease;
  margin-top: 20px;
}

.email-notice {
  margin-top: 10px;
}

.privacy-notice {
  margin-top: 25px;
  margin-bottom: 30px;
}

.btn-payment-method {
  outline: none;
  border: none;
  font-size: 1.25rem;
  padding: 10px 15px;
  background: #012169;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-payment-method+.btn-payment-method {
  margin-left: 20px;
}

.btn-paypal {
  background: #012169;
}

.btn-payment-method input {
  float: left;
  margin-right: 20px;
}

.btn-card {
  background: #ff5f00;
}

.btn.btn-checkout:hover {
  background: #fff;
  color: var(--clr-pdark);
  border: 2px solid var(--clr-pdark);
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal-video {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
  transition: opacity .4s ease;   
  animation: fadeIn .3s ease;
}

.modal-video .close {
  margin: 20px 20px 0 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1
  }
}

/* Modal Content (image) */
.modal-content-video {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;

  position: relative;
}

#modal-video-preview {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

/* Caption of Modal Image */
#caption-video {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content-video,
#caption-video {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.4s;
  animation-name: zoom;
  animation-duration: 0.4s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
  .modal {
    max-height: 650px;
  }
}

#footer {
  margin-top: 50px;
}

.loading-cont {
  display: none;
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.548);
  animation: fadeIn .4s ease;
}

/* loader */
.spinner {
  position: absolute;
  top: calc(40% - 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background-color: rgb(255, 255, 255);

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@media (max-width: 1450px) {
  .card-wrapper {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .modal {
    width: 90%;
  }
}

@media (max-width: 513px) {
  .btn-payment-method+.btn-payment-method {
    margin-left: 5px;
  }
}